#tower{
  float: left;
  margin-bottom: 4em;
}

.Tradingport{
    display: block;
    margin-bottom: 23em;
}
#port {
    display: block;
    margin-bottom: 24em;
    margin-left: 25em;

}
#MalaysiaPic{
  width: 500px;
height: 450px;
margin-top: -19px;
  }
  #bridge{
    float: left;
    padding-left: 34em;
  }

p1{
    display: block;
    margin-left: 332px;
}

p2{
    display: block;
    padding-left: 45em;
    margin-top: -50em
}
p3{
    display: block;
    margin-left: 54em;
    padding-right: 5em
}
table, th, td {
    font-family: arial, sans-serif;
    width: 5em;
    height: 1em;
    border: 1px solid black;
    margin-left: 33em;
}
table{
    width: 50em;
    height: 20em;
    margin-left: 13em;
}
    .towerclock{
    float: right;
    clear:both;
    border-radius: 8px;
    margin-left: 300px;
}
    .tower img{
    margin-right: 10px
}
th{
    background-color: gray;
    font-size: 1.5em;
}
div.myImg{
    text-align: center;
    padding-bottom: 100px;
}
body  {
    background: linear-gradient(180deg, rgb(96, 74, 106), white);
}
h1 {
    padding: 8px;
    color: black;
    font-size: 4.5em;
    text-align: center;
}
h2 {
    font-size: 2.5em;
    margin-left: 140px;
    margin-top: 18px;

}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;}
div.mal{
    padding-bottom: 150px;
}
.list{
    font-weight: bold;
}
.cityname{
    font-family: cursive;
    font-size:2em
    overflow: hidden;
    font-size: x-large;
  }
.city{
    font-size:2em;
}
.places{
    background-color: gray;
    font-size: 1.5em;
}
.list{
    display: inline;
    margin-right: 10px;
}
.place{
    margin-left: 513px;
    margin-top: -442px;
    display: block;
    margin-bottom: 21em;
}
.footer{
  font-size: 0.7em;
      text-align: justify;
      margin-top: 10em;
      margin-left: -77em;
}
